.oz-root {
  background: #EEE;
  color: #333;
  user-select: none;
}

.oz-fig {
  font-family: sans-serif;
  padding: 2em;
  line-height: 16px;
}
.oz-fig-cap {
  font-size: 0.8em;
  color: #888;
  background: #EEE;
  padding: 1em;
  margin: 1em 0 0 0;
}
.oz-eco {
  width: 32em;
  height: 32em;
  position: relative;
  transform-origin: center;
}
.oz-eco:focus {
  outline: none;
}
.oz-eco::before {
  content: "";
  position: absolute;
  width: 24em;
  height: 24em;
  background: #FFF;
  border-radius: 50%;
  left: 4em;
  top: 4em;
}
.oz-eco::after {
  position: absolute;
  content: "";
  width: 30em;
  height: 30em;
  left: 1em;
  top: 1em;
  border-radius: 50%;
  box-shadow: 0 0 0 1em #000;
}

/* OUTER ORBIT GUIDELINES */
.oz-orbit {
  display: none;
  list-style: none;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  background: red;
  left: 50%;
  top: 50%;
  transform-style: preserve-3d;
  transform: rotateX(30deg) rotateY(60deg) rotateZ(-30deg);;
  transition: all 1s;
}
.oz-orbit .oz-cir {
  position: absolute;
  list-style: none;
  margin: 0;
  width: 30em;
  height: 30em;
  top: -15em;
  left: -15em;
  box-shadow: 2em 0 0 0 #000, -2em 0 0 0 #000;
  border-radius: 50%;
  transform-style: preserve-3d;
  opacity: 0.5;
}
.oz-orbit .oz-cir:nth-child(1) {
}
.oz-orbit .oz-cir:nth-child(2) {
  transform: rotateY(60deg);
}
.oz-orbit .oz-cir:nth-child(3) {
  transform: rotateY(-60deg);
}
.oz-orbit .oz-cir:nth-child(4) {
  transform: rotateX(90deg);
}


/* INNER SPHERE */
/*
.oz-eco:hover .oz-orb {
  transform: rotateY(60deg) rotateX(30deg);
}
.oz-eco:focus .oz-orb {
  transform: rotateY(-90deg) rotateX(-60deg);
}
*/

.oz-orb {
  font-family: sans-serif;
  left: 16em;
  top: 16em;
  width: 0;
  height: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  transform-origin: 50% 50% 0;
  transform-style: preserve-3d;
  transform: translateY(0) translateX(0);
  transition: all 1s;
}

.oz-orb-hemi {
  transform-style: preserve-3d;
}
.oz-orb-hemi:nth-child(2) {
  transform: rotateX(180deg);
}

.oz-orb-face {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  transform-style: preserve-3d;
  transition: all 0.3s;
}
.oz-orb-face:nth-child(2) {
  transform: rotateZ(60deg);
}
.oz-orb-face:nth-child(3) {
  transform: rotateZ(120deg);
}
.oz-orb-face:nth-child(4) {
  transform: rotateZ(180deg);
}
.oz-orb-face:nth-child(5) {
  transform: rotateZ(240deg);
}
.oz-orb-face:nth-child(6) {
  transform: rotateZ(300deg);
}
.oz-orb-face:hover {
  transform: scale(2);
  border-color: #000;
}

.oz-orb-face-dot {
  position: absolute;
  color: transparent;
  font-size: 12px;
  width: 0;
  height: 0;
  border: rgba(0,0,0, 0.3) 0.4em solid;
  transform-origin: left;
  backface-visibility: hidden;
}

.oz--thick .oz-orb-face-dot.oz--solo {
  border-color: rgba(218,228,238,0.7) !important;
	transform-origin: center;
	border-width: 9em;
  position: absolute;
	left: -9em;
	top: -9em;
}

.oz--thick .oz-orb-face-dot {
  border-width: 0.8em;
  border-radius: 50%;
}

/* JOBS */
.oz-job {
  font-family: sans-serif;
  background: #EEE;
}
